@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../Inter-3.19/Inter-Web/Inter-Regular.woff2") format("woff2"),
       url("../Inter-3.19/Inter-Web/Inter-Regular.woff") format("woff");
       
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../Inter-3.19/Inter-Web/Inter-Bold.woff2") format("woff2"),
       url("../Inter-3.19/Inter-Web/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../Inter-3.19/Inter-Web/Inter-Black.woff2") format("woff2"),
       url("../Inter-3.19/Inter-Web/Inter-Black.woff") format("woff");
}



.link-opacity:hover {
  opacity: 0.8;
}



.page {
  background: #2A2C2F;
  min-width: 1280px;
}



.header {
  margin: 0 auto;
  max-width: 1184px;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 176px;
  height: 52px;
  background-image: url(../russian-travel/images/header-logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.lang {
  display: flex;
  align-items: flex-end;
  gap: 18px;
}

.lang__link {
  margin: 0;
  max-width: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}

.lang__link:last-of-type {
  max-width: 29px;
}

.lang__link_decoration:first-of-type {
  text-decoration: underline;
}



.lead {
  margin: 56px auto 0;
  max-width: 984px;
  display: flex;
  flex-direction: column;
}

.lead__title {
  margin: 0 auto;
  max-width: 720px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  align-self: center;
}

.lead__subtitle {
  margin: 32px auto 0;
  max-width: 640px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.lead__image {
  margin: 64px auto 0;
  max-width: 984px;
}

.lead__caption {
  margin: 0;
  margin-top: 8px;
  max-width: 158px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
}



.intro {
  margin: 92px 442px 0 148px;
  max-width: 690px;
  display: flex;
  flex-direction: column;
}

.intro__title {
  margin: 0;
  max-width: 690px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
}

.intro__text {
  margin: 40px 0 0;
  max-width: 690px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
}

.intro__list {
  margin: 33px 0 0;
  padding: 0;
  max-width: 690px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  list-style: none;
}

.letter {
  font-weight: 400;
}



.photo-grid {
  margin: 92px auto 0;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.grid__item {
  width: 100%;
  height: 100%;
}



.places {
  margin: 92px auto 0;
  max-width: 984px;
}

.place {
  margin-bottom: 80px;
  width: 984px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 48px 40px;
}

.place:last-of-type {
  margin-bottom: 0; 
}

.place__title {
  margin: 0;
  max-width: 460px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
}

.place__website {
  max-width: 456px;
  display: flex;
  flex-direction: column-reverse;
}

.website__url-heading {
  margin: 0;
  order: 1;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.website__link {
  margin-top: 12px;
  order: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__image {
  width: 460px;
}

.place__paragraph {
  max-width: 484px;
}

.paragraph__one {
  margin: 0 auto 26px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}

.paragraph__one:last-of-type {
  margin: 0;
}

.paragraph__two {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}



.cover {
  position: relative;
  margin: 92px auto 0;
  max-width: 1184px;
}

.cover__link {
  background-image: url(../russian-travel/images/cover-trains.jpg);
  width: 1184px;
  height: 740px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.cover__link::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__link:hover::before {
  opacity: 0.8;
}

.cover__title {
  margin: 245px auto 0;
  position: relative;
  max-width: 560px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
}

.cover__subtitle {
  position: relative;
  margin: 32px auto 245px;
  max-width: 360px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}



.footer {
  margin: 92px auto 0;
  padding-bottom: 24px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__li {
  margin-right: 18px;
  display: inline;
}

.menu__li:last-of-type {
  margin: 0;
}

.menu__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.copyright {
  max-width: 186px;
}

.copyright_author {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
}



@media screen and (max-width: 1279px) {
  .page {
    min-width: 1024px;
  }
  
  .header {
    max-width: 928px;
   }

  .lead {
    margin: 48px auto 0;
    max-width: 768px;
  }

  .lead__image {
    max-width: 928px;
  }
  
  .intro {
    margin: 92px 286px 0 48px;
  }
  
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
  
  .places {
    max-width: 928px;
  }
  
  .place {
    max-width: 928px;
    gap: 48px 32px;
  }
  
  .place__title {
    max-width: 440px;
  }
  
  .place__image {
    width: 440px;
  }
  
  .place__paragraphs {
    max-width: 456px;
  }
  
  .cover {
    max-width: 1024px;
  }  
  
  .cover__link {
    width: 1024px;
    height: 640px;
}

  .cover__title {
    margin: 195px auto 0;
  }

  .cover__subtitle {
    margin: 32px auto 195px;
  }

  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .page {
    min-width: 768px;
  }
  
  .header {
    max-width: 720px;
   }

  .lead {
    max-width: 768px;
  }

  .lead__image {
    max-width: 768px;
  }
  
  .lead__caption {
    margin: 8px auto 0 24px;
  }

  .intro {
    margin: 88px auto 0;
    max-width: 720px;
  }
  
  .intro__title {
    max-width: 720px;
  }

  .intro__text {
    max-width: 720px;
  }

  .intro__list {
    max-width: 720px;
  }

  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
  }

  .places {
    margin: 88px auto 0;
    max-width: 720px;
  }
  
  .place {
    margin-bottom: 73px;
    max-width: 720px;
    gap: 48px 28px;
  }
  
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
  
  .website__url-heading {
    line-height: 12px;
  }

  .place__image {
    width: 340px;
  }
  
  .paragraphs__paragraph {
    max-width: 352px;
  }
  
  .paragraph__one {
    margin: 0 auto 25px;
    font-size: 16px;
  }

  .paragraph__two {
    font-size: 16px;
  }

  .cover {
    margin: 90px auto 0;
    max-width: 768px;
  }  
  
  .cover__link {
    width: 768px;
    height: 480px;
  }

  .cover__title {
    margin: 115px auto 0;
  }

  .cover__subtitle {
    margin: 32px auto 115px;
  }

  .footer {
    max-width: 720px;
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .page {
    min-width: 768px;
  }
  
  .header {
    max-width: 288px;
  }

  .logo {
    width: 142px;
    height: 42px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .lang__link {
    font-size: 18px;
    line-height: 20px;
    max-width: 22px;
  }
  
  .lang__link:last-of-type {
    max-width: 22px;
  }
  
  .content {
    max-width: 320px;
  }
  
  .lead {
    max-width: 320px;
    margin: 48px auto 0;
  }
  
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
  
  .lead__subtitle {
    max-width: 288px;
    margin: 16px auto 0;
    font-size: 16px;
    line-height: 20px;
  }
  
  .lead__image {
    max-width: 320px;
    margin: 40px auto 0;
  }

  .lead__caption {
    margin: 8px 146px 0 16px;
  }
  
  .intro {
    max-width: 288px;
    margin: 64px auto 0;
  }
  
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
  
  .intro__text {
    max-width: 288px;
  }
  
  .intro__list {
    max-width: 288px;
    margin: 34px 0 0;
  }
  
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
    margin: 64px 16px 0;
  }  
  
  .places {
    max-width: 320px;
    margin: 64px auto 0;
  }
  
  .place {
    width: 100%;
    gap: 32px;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
  }
  
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
  
  .place__website {
    max-width: 288px;
  }
  
  .place__image {
    width: 320px;
  }
  
  .place__paragraphs {
    max-width: 288px;
    font-size: 16px;
    line-height: 26.08px;
  }
  
  .paragraphs__paragraph {
    margin: 0 auto 25px;
  }
  
  .cover {
    max-width: 320px;
    margin: 66px auto 0;
  }
  
  .cover__link {
    width: 320px;
    height: 200px;
  }
  
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 33px auto 0;
  }
  
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    margin: 16px auto 33px;
  }
  
  
  
  .footer {
    max-width: 186px;
    margin: 64px auto 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .menu__ul {
  margin: 0;
  padding: 0;
  }

  .menu__link {
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    list-style-type: none;
    text-align: start;
  }

  .copyright_author {
    text-align: start;
    line-height: 14px;
  }
}